@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <li class="nav-item py-2">
        <a class="nav-link color-gray" href="@Url.Action("Center", "Member", routeValues: null)">
            <i class="fas fa-user-friends ml-4 mr-2"></i>會員中心
        </a>
    </li>
    <li class="nav-item py-2">
        <a class="nav-link color-gray" href="javascript:document.getElementById('logoutForm').submit()">
            <i class="fas fa-sign-out-alt ml-4 mr-2"></i>登出
        </a>
    </li> 
    }
}
else
{

    <li class="nav-item py-2">
        <a class="nav-link color-gray" href="@Url.Action("Register", "Account", routeValues: null)">
            <i class="fas fa-user ml-4 mr-2"></i>註冊 / 登入
        </a>
    </li>
}





