@{
  ViewBag.Title = "404發生錯誤";

  string[] words = new string[] { "Oops! 處理你的要求時發生錯誤", "Wow! 鯊魚正在偷咬電纜，請稍後再作嘗試", "Error,發生錯誤!" };
  var random = new Random().Next(0, 3);
  var result = words[random];
  if (!string.IsNullOrEmpty(ViewBag.Error))
  {
    result = ViewBag.Error;
  }
}
<section style="height: 70vh;padding:100px 0 100px;">
    <div style="text-align:center">
        <span style="font-size:200px">4</span>
        <span style="font-size: 180px;padding:0 30px;">0</span>
        <span style="font-size: 200px">4</span>
    </div>
    <h2 style="text-align:center;">@result</h2>
</section>