@model ForgotPasswordViewModel
@{
    ViewBag.Title = "忘記密碼?";
}
@section CSS{
    <link rel="stylesheet" href="~/Assets/css/account/forgotPassword.css">    
}


<section class="section_forgetpassword">
    <div class="login-modal">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3>輸入您的電子郵件</h3>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-12">
                    <input type="submit" class="btn bg-primary-color float-right" value="以電子郵件傳送連結" />
                </div>
            </div>
        }
    </div>
</section>

@section JS {
    <script src="~/Assets/js/account/forgotPassword.js"></script>
}
