@{
    ViewBag.Title = "忘記密碼確認";
}

@section CSS{
    <link rel="stylesheet" href="~/Assets/css/account/forgotPassword.css">
}


<section class="section_forgetpasswordconfirmation">
    <div class="login-modal">
            <p>
                請檢查電子郵件以重設密碼。
            </p>
    </div>
</section>

@section JS {
    <script src="~/Assets/js/account/forgotPassword.js"></script>
}
