@model CombineViewModel
@{
    ViewBag.Title = "註冊/登入";
}
@section CSS{
    <link rel="stylesheet" href="~/Assets/css/account/login.css">
}


<section id="loginForm">
    <div class="login-modal">
        <div class="container-main">
            <div class="change-box">
                <button class="title title-login selected" for="title-check">登入</button>
                <button class="title title-register" for="title-check">註冊</button>
            </div>
            <div class="login-block show">
                <form class="form">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input class="input login-email" type="text" placeholder="信箱">
                        <p class="warn login-email"></p>
                    </div>
                    <div class="form-group">
                        <input class="input login-password" type="password" maxlength="12" placeholder="密碼">
                        <p class="warn login-password"></p>
                    </div>
                    <input class="button btn_login" type="button" value="登入">
                    <div class="other">
                        <div class="box">
                            @Html.ActionLink("忘記密碼?", "ForgotPassword", new { @class = "forget" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="register-block">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input class="input register-email" type="text" placeholder="信箱">
                        <p class="warn register-email"></p>
                    </div>
                    <div class="form-group">
                        <input class="input register-password" type="password" maxlength="12" placeholder="密碼">
                        <p class="warn register-password"></p>

                    </div>
                    <div class="form-group">
                        <input class="input register-password-check" type="password" maxlength="12" placeholder="確認密碼">
                        <p class="warn register-password-check"></p>
                    </div>
                    <input class="button btn_submit" type="button" value="確認送出">
                }
            </div>
        </div>
    </div>
</section>


@section JS {
    <script src="~/Assets/js/account/login.js"></script>
}