@model ResetPasswordViewModel
@{
    ViewBag.Title = "重置密碼";
}
@section CSS{
    <link rel="stylesheet" href="~/Assets/css/account/resetPassword.css">
}


<section class="section_forgetpassword">
    <div class="reset-password-modal">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form", role = "form" }))
        {
            <h3>設定新密碼</h3>
            <hr />
            <div class="form-group">
                <div class="col-md-12 d-flex justify-content-center align-items-center">

                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-12">
                    <input type="button" class="btns" id="resetBtn" value="修改" />
                </div>
            </div>
        }
    </div>
</section>

@section JS {
    <script src="~/Assets/js/account/resetPassword.js"></script>
}
