@model CouponViewModel

    <div class="item">
        <div class="title">
            <h2>UCleaner</h2>
        </div>
        <div class="pic">
            <div class="coupon">
            <h2>Coupon</h2>
            <h3>@Model.CouponName</h3>
            <h3>@Model.DiscountAmount</h3>
            <h3>@Model.DateStart~@Model.DateEnd</h3>
            </div>
        </div>
    </div>

