@model CouponViewModel

<div class="couponwrap">
    <div class="couponcontainer">
        <div class="coupontitle">
            <h2>UCleaner</h2>
        </div>
        <div class="couponpic">
            <div class="coupon">
                <h2>優惠卷</h2>
                <h3>@Model.CouponName </h3>
                <h3>-@Model.DiscountAmount</h3>
                <h3>@Model.DateStart~@Model.DateEnd</h3>
            </div>
        </div>
    </div>
</div>