@using System.Text;
@{ 
    HttpCookie cookies = Request.Cookies["user"];
}
@if (cookies != null)
{

        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("會員中心", "Index", "MemberCenter", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btns btn-member-center" })
            </li>
            <li><a href="/Home/Logout" class="nav-link color-gray">登出</a></li>
        </ul>

}
else
{
    <div class="btns-group">
        @Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btns btn-login" })
        @Html.ActionLink("註冊", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btns btn-register" })
    </div>
}


