@model PackageProductGridViewModel
<div class="card">
    <div class="pic">
        <a href="">
            <img src="https://i.imgur.com/@Model.PhotoUrl">
        </a>
        <div class="icon-area">
            <button class="plus"><i class="fas fa-plus"></i></button>
            <a href="" class="search"><i class="fas fa-search"></i></a>
        </div>
    </div>
    <div class="text">
        <p>@Model.Name</p>
    </div>
</div>
