<div class="card">
    <div class="pic">
        <a href="">
            <img src="https://picsum.photos/300/200/?random=17">
        </a>
        <div class="icon-area">
            <button class="plus"><i class="fas fa-plus"></i></button>
            <a href="" class="search"><i class="fas fa-search"></i></a>
        </div>
    </div>
    <div class="text">
        <p>套裝服務1</p>
    </div>
</div>
