* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	box-sizing: border-box
}

html, body {
	height: 100%
}

button {
	background-color: transparent
}

	button:focus {
		outline: none
	}

img {
	vertical-align: top;
	max-width: 100%
}

a, a:hover {
	text-decoration: none
}
#loginForm {
	background: var(--color-warnBg);
}
.login-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 100px 0;
	max-width:1200px;
	margin:auto
}

	.login-modal .container-main {
		padding: 30px;
		width: 100%
	}



.login-modal .form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 15px;
}

	.login-modal .form .form-group {
		margin-bottom: 10px
	}

	.login-modal .form .input, .login-modal .form .button {
		padding: 10px;
		border-radius: 2px;
		font-size: 16px;
		font-family: Arial;
		outline: none;
		width:100%
	}

	.login-modal .form .input {
		width: 100%;
		font-weight: 400;
		border: 1px solid rgba(0,0,0,0.15)
	}

		.login-modal .form .input::placeholder {
			color: #999999
		}

		.login-modal .form .input:focus {
			border-color: rgba(0,0,0,0.5);
			box-shadow: 0 0 4px rgba(0,0,0,0.15)
		}

		.login-modal .form .input.input-warn {
			border-color: var(--color-warn);
			background-color: var(--color-warnBg)
		}

			.login-modal .form .input.input-warn::placeholder {
				color: #ff7777
			}

	.login-modal .form .button {
		margin-top: 10px;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 1px;
		background-color: var(--primary-color);
		border: none;
		color: #ffffff
	}

		.login-modal .form .button:hover {
			filter: brightness(1.1)
		}
.section_forgetpasswordconfirmation, .section_forgetpassword {
	height: 70vh;
	background: var(--color-warnBg);
}

@media screen and (min-width: 500px) {
	.login-modal .container-main {
		max-width: 500px
	}
}

@media screen and (min-width: 1024px){
	.login-modal .form {
		width: 800px;
	}
}