section[class$='Form'] {
	background: var(--color-primary-light);
}
.toast-top-center .toast-message {
	font-size: 16px;
	letter-spacing: 1px
}

.login-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 150px 0;
	max-width: 1200px;
	margin: auto
}

.login-modal .container-main {
	padding: 30px;
	width: 100%
}

.spinner-border {
	width: 1rem;
	height: 1rem;
	border: .2em solid currentColor;
	margin-right: 10px;
	border-right-color: transparent;
	transition: .4s ease-in;
}

@media screen and (min-width: 500px) {
	.login-modal .container-main {
		max-width: 500px
	}
}

.login-modal .change-box {
	display: flex;
	margin-bottom: 20px
}

.login-modal .change-box .title {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
	padding: 5px 0;
	font-size: 20px;
	font-weight: 400;
	color: var(--color-primary);
	background-color: #ffffff;
	border: 1px solid var(--color-primary);
	transition: color .2s, background-color .3s;
	--brs: 6px
}

.login-modal .change-box .title-login {
	border-radius: var(--brs) 0 0 var(--brs)
}

.login-modal .change-box .title-register {
	border-radius: 0 var(--brs) var(--brs) 0
}

.login-modal .change-box .selected {
	color: #ffffff;
	background-color: var(--color-primary)
}

.login-modal .login-block {
	position: relative
}

.login-modal .form {
	display: flex;
	flex-direction: column
}

.login-modal .form .form-group {
	margin-bottom: 10px
}

.login-modal .form .input,
.login-modal .form .button {
	padding: 10px;
	border-radius: 2px;
	font-size: 16px;
	font-family: Arial;
	outline: none;
	width: 100%
}

.login-modal .form .button[disabled] {
	opacity: .6;
}

.login-modal .form .input {
	width: 100%;
	font-weight: 400;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: var(--color-primary-light);
}


.login-modal .form .input:focus {
	border-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15)
}

.login-modal .form .input.input-warn {
	border-color: var(--color-warn);
}

.login-modal .form .warn {
	font-size: 14px;
	max-height: 20px;
	color: var(--color-warn);
	border: none;
	padding: 5px 0;
	letter-spacing: 1px;
	margin: 0;
}

.login-modal .form .form-group {
	position: relative;
}

.login-modal .form .form-group .label-group {
	position: absolute;
	top: 10px;
	left: 25px;
	pointer-events: none;
	background: transparent;
	transition: .25s ease-in-out;
}

.login-modal .form .form-group .label-group i {
	display: none;
}

.login-modal .form .form-group .label {
	color: var(--color-primary-dark);
	font-size: 18px;
	padding: 0 10px;
	white-space: nowrap;
	margin: 0;
	transition: .2s ease;
}

.login-modal .form .form-group .label.label-warn {
	color: var(--color-warn);
	font-weight: 700
}

.login-modal .form .input:focus {
	border-color: var(--color-primary);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15)
}

.login-modal .form .input:focus+.label-group,
.login-modal .form .label-group.active {
	top: -15px;
	width: 70px;
	overflow: hidden;
	height: 25px;
	background: var(--color-primary-light);
}

.login-modal .form .form-group .input:focus+.label-group i,
.login-modal .form .label-group.active i {
	display: block;
	pointer-events: auto;
}

.login-modal .form .label-group i.i-warn {
	color: var(--red) !important;
}

.login-modal .form .form-group .input:focus+.label-group .label,
.login-modal .form .label-group.active .label {
	font-size: 14px;
}

.login-modal .form .input.input-warn {
	border-color: var(--color-warn);
	color: var(--color-warn);
}

.login-modal .form .button {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	background-color: var(--color-primary);
	border: none;
	color: #ffffff
}

.login-modal .form .button:hover {
	filter: brightness(1.1)
}

.login-modal .form .button[disabled='disabled']:hover {
	filter: brightness(1)
}

.login-modal .other {
	margin-top: 20px;
	display: flex
}

.login-modal .other .box {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.login-modal .other .box a {
	display: block
}