
@{
    ViewBag.Title = "所有服務";
}
@section AllServiceViewCss{
    <link rel="stylesheet" href="~/Assets/css/home/allServiceView.css">
    <link rel="stylesheet" href="~/Assets/css/home/icofont.min.css">
}

<section class="section_banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>各式專業服務</h2>
            </div>
        </div>
    </div>
</section>
<section class="section_all-service-view">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="service-view-item">
                    <a href="javascript:;">
                        <div class="view-item-title">
                            <h4>鐘點清潔</h4>
                        </div>
                        <div class="view-item-content">
                            <p>專業清潔每小時500 - 600元不等創造舒適的窩</p>
                        </div>
                        <div class="view-item-hide">
                            <i class="icofont-man-in-glasses"></i>
                            <p>鐘點清潔</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="service-view-item">
                    <a href="javascript:;">
                        <div class="view-item-title">
                            <h4>冷氣機清洗</h4>
                        </div>
                        <div class="view-item-content">
                            <p>與PM 2.5說不，還你清新空氣</p>
                        </div>
                        <div class="view-item-hide">
                            <i class="icofont-energy-air"></i>
                            <p>冷氣機清洗</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="service-view-item">
                    <a href="javascript:;">
                        <div class="view-item-title">
                            <h4>洗衣機清洗</h4>
                        </div>
                        <div class="view-item-content">
                            <p>與藏身許久煩人的汙垢宣戰</p>
                        </div>
                        <div class="view-item-hide">
                            <i class="icofont-washing-machine"></i>
                            <p>洗衣機清洗</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="service-view-item">
                    <a href="javascript:;">
                        <div class="view-item-title">
                            <h4>收納整理</h4>
                        </div>
                        <div class="view-item-content">
                            <p>收納整理，迎接好心情</p>
                        </div>
                        <div class="view-item-hide">
                            <i class="icofont-briefcase-2"></i>
                            <p>收納整理</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="service-view-item">
                    <a href="javascript:;">
                        <div class="view-item-title">
                            <h4>裝潢清潔</h4>
                        </div>
                        <div class="view-item-content">
                            <p>裝潢後的清潔交給我們，木屑粉塵一網打盡</p>
                        </div>
                        <div class="view-item-hide">
                            <i class="icofont-bucket1"></i>
                            <p>裝潢清潔</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="service-view-item">
                    <a href="javascript:;">
                        <div class="view-item-title">
                            <h4>除塵蟎</h4>
                        </div>
                        <div class="view-item-content">
                            <p>除去塵蟎，拒當過敏兒</p>
                        </div>
                        <div class="view-item-hide">
                            <i class="icofont-bug"></i>
                            <p>除塵蟎</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="service-view-item">
                    <a href="javascript:;">
                        <div class="view-item-title">
                            <h4>清毒除蟲</h4>
                        </div>
                        <div class="view-item-content">
                            <p>專業消毒噴霧機，擊退蟲害SO EASY</p>
                        </div>
                        <div class="view-item-hide">
                            <i class="icofont-bug"></i>
                            <p>清毒除蟲</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="service-view-item">
                    <a href="javascript:;">
                        <div class="view-item-title">
                            <h4>辦公室定期</h4>
                        </div>
                        <div class="view-item-content">
                            <p>舒適上班環境，工作效率DOUBLE</p>
                        </div>
                        <div class="view-item-hide">
                            <i class="icofont-architecture-alt"></i>
                            <p>辦公室定期</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="service-view-item">
                    <a href="javascript:;">
                        <div class="view-item-title">
                            <h4>地板保養</h4>
                        </div>
                        <div class="view-item-content">
                            <p>石板打蠟與木質地板保養，換得家裡大家開心</p>
                        </div>
                        <div class="view-item-hide">
                            <i class="icofont-triangle"></i>
                            <p>地板保養</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="service-view-item">
                    <a href="javascript:;">
                        <div class="view-item-title">
                            <h4>洗衣服務</h4>
                        </div>
                        <div class="view-item-content">
                            <p>外送洗衣，以袋計價，隔日取件</p>
                        </div>
                        <div class="view-item-hide">
                            <i class="icofont-jacket"></i>
                            <p>洗衣服務</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

