@model IEnumerable<ImageCard>
@{
    ViewBag.Title = "首頁";
}
@section CSS{
    <link rel="stylesheet" href="~/Assets/css/home/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" />
}
<section class="section_carousel owl-carousel">
    <div class="carousel_item1">
        <div class="container ml-0">
            <div class="row">
                <div class="col-12">
                    <h2>用戶提問證據</h2>
                    <p>商標促銷股票一週<br>需求不是確保誠信有</p>
                    <a href="javascript:;">立刻預約</a>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel_item2">
        <div class="container ml-0">
            <div class="row">
                <div class="col-12">
                    <h2>心情戀愛高達光碟</h2>
                    <p>商標促銷股票一週<br>需求不是確保誠信有</p>
                    <a href="javascript:;">立刻預約</a>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel_item3">
        <div class="container ml-0">
            <div class="row">
                <div class="col-12">
                    <h2>格式傳真享受專</h2>
                    <p>商標促銷股票一週<br>需求不是確保誠信有</p>
                    <a href="javascript:;">立刻預約</a>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel_item4">
        <div class="container ml-0">
            <div class="row">
                <div class="col-12">
                    <h2>我覺得一股上門數</h2>
                    <p>商標促銷股票一週<br>需求不是確保誠信有</p>
                    <a href="javascript:;">立刻預約</a>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel_item5">
        <div class="container ml-0">
            <div class="row">
                <div class="col-12">
                    <h2>旁邊美好查找認定咖啡校長</h2>
                    <p>商標促銷股票一週<br>需求不是確保誠信有</p>
                    <a href="javascript:;">立刻預約</a>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel_item6">
        <div class="container ml-0">
            <div class="row">
                <div class="col-12">
                    <h2>備案有一定規格風雲差不多</h2>
                    <p>商標促銷股票一週<br>需求不是確保誠信有</p>
                    <a href="javascript:;">立刻預約</a>
                </div>
            </div>
        </div>

    </div>
    <div class="carousel_item7">
        <div class="container ml-0">
            <div class="row">
                <div class="col-12">
                    <h2>隱藏版文件希望確保平時消失</h2>
                    <p>商標促銷股票一週<br>需求不是確保誠信有</p>
                    <a href="javascript:;">立刻預約</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section_all-service py-5">
    <div class="container-xxl">
        <div class="row">
            <div class="service-title">
                <h2><i class="fas fa-home color-skyblue pl-2 pr-1"></i>我們提供以下服務</h2>
            </div>
        </div>
    </div>
    <div class="container-xxl">
        <div class="row">
            <div class="service-tabs">
                <div class="tabs-item active" data-id="hot">
                    <h3>熱門<span class="mobile">服務</span></h3>
                </div>
                <div class="tabs-item" data-id="enterprise">
                    <h3>企業<span class="mobile">服務</span></h3>
                </div>
                <div class="tabs-item" data-id="other">
                    <h3>其他<span class="mobile">服務</span></h3>
                </div>
                <div class="tabs-item" data-id="comment">
                    <h3>顧客<span class="mobile">評價</span></h3>
                </div>
            </div>
            <div class="service-items">
                <div class="container-lg tab-item_hot active">
                    <div class="row">
                        <div class="col-12 col-lg-6 col-xl-4">
                            <div class="card mb-5">
                                <img src="/Assets/images/loading.gif" data-src="https://picsum.photos/300/300/?random=1"
                                     alt="圖片說明" class="lazyload">
                                <div class="card-body">
                                    <h5 class="card-title">冷氣機清潔</h5>
                                    <p class="card-text">不再網通都有公斤多次進了等等，還沒記錄，網址打擊商標做出實。</p>
                                    <a href="javascript:;" class="btns rounded-circle more">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-4">
                            <div class="card mb-5">
                                <img src="/Assets/images/loading.gif" data-src="https://picsum.photos/300/300/?random=2"
                                     alt="圖片說明" class="lazyload">
                                <div class="card-body">
                                    <h5 class="card-title">精選套餐2</h5>
                                    <p class="card-text">不再網通都有公斤多次進了等等，還沒記錄，網址打擊商標做出實。</p>
                                    <a href="javascript:;" class="btns rounded-circle more">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-4">
                            <div class="card mb-5">
                                <img src="/Assets/images/loading.gif" data-src="https://picsum.photos/300/300/?random=3"
                                     alt="圖片說明" class="lazyload">
                                <div class="card-body">
                                    <h5 class="card-title">洗衣機清潔</h5>
                                    <p class="card-text">不再網通都有公斤多次進了等等，還沒記錄，網址打擊商標做出實。</p>
                                    <a href="javascript:;" class="btns rounded-circle more">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-lg tab-item_enterprise">
                    <div class="row p-2">
                        <div class="col-12  col-lg-6 col-xl-4">
                            <div class="card mb-5">
                                <img src="/Assets/images/loading.gif" data-src="https://picsum.photos/300/300/?random=14"
                                     alt="圖片說明" class="lazyload">
                                <div class="card-body">
                                    <h5 class="card-title">辦公室清潔</h5>
                                    <p class="card-text">不再網通都有公斤多次進了等等，還沒記錄，網址打擊商標做出實。</p>
                                    <a href="javascript:;" class="btns rounded-circle more">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-lg-6 col-xl-4">
                            <div class="card mb-5">
                                <img src="/Assets/images/loading.gif" data-src="https://picsum.photos/300/300/?random=24"
                                     alt="圖片說明" class="lazyload">
                                <div class="card-body">
                                    <h5 class="card-title">包月服務</h5>
                                    <p class="card-text">不再網通都有公斤多次進了等等，還沒記錄，網址打擊商標做出實。</p>
                                    <a href="javascript:;" class="btns rounded-circle more">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-lg-6 col-xl-4">
                            <div class="card mb-5">
                                <img src="/Assets/images/loading.gif" data-src="https://picsum.photos/300/300/?random=34"
                                     alt="圖片說明" class="lazyload">
                                <div class="card-body">
                                    <h5 class="card-title">整層清潔</h5>
                                    <p class="card-text">不再網通都有公斤多次進了等等，還沒記錄，網址打擊商標做出實。</p>
                                    <a href="javascript:;" class="btns rounded-circle more">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-lg tab-item_other">
                    <div class="row p-2">
                        <div class="col-12  col-lg-6 col-xl-4">
                            <div class="card mb-5">
                                <img src="/Assets/images/loading.gif" data-src="https://picsum.photos/300/300/?random=13"
                                     alt="圖片說明" class="lazyload">
                                <div class="card-body">
                                    <h5 class="card-title">床墊清潔</h5>
                                    <p class="card-text">不再網通都有公斤多次進了等等，還沒記錄，網址打擊商標做出實。</p>
                                    <a href="javascript:;" class="btns rounded-circle more">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-lg-6 col-xl-4">
                            <div class="card mb-5">
                                <img src="/Assets/images/loading.gif" data-src="https://picsum.photos/300/300/?random=23"
                                     alt="圖片說明" class="lazyload">
                                <div class="card-body">
                                    <h5 class="card-title">水管清潔</h5>
                                    <p class="card-text">不再網通都有公斤多次進了等等，還沒記錄，網址打擊商標做出實。</p>
                                    <a href="javascript:;" class="btns rounded-circle more">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-lg-6 col-xl-4">
                            <div class="card mb-5">
                                <img src="/Assets/images/loading.gif" data-src="https://picsum.photos/300/300/?random=33"
                                     alt="圖片說明" class="lazyload">
                                <div class="card-body">
                                    <h5 class="card-title">壁癌處理</h5>
                                    <p class="card-text">不再網通都有公斤多次進了等等，還沒記錄，網址打擊商標做出實。</p>
                                    <a href="javascript:;" class="btns rounded-circle more">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-lg tab-item_comment">
                    <div class="row p-2">
                        <div class="col-12  col-lg-6 col-xl-4">
                            <div class="card mb-5">
                                <img src="/Assets/images/loading.gif" data-src="https://picsum.photos/300/300/?random=15"
                                     alt="圖片說明" class="lazyload">
                                <div class="card-body">
                                    <h5 class="card-title">陳先生</h5>
                                    <p class="card-text">不再網通都有公斤多次進了等等，還沒記錄，網址打擊商標做出實。</p>
                                    <span><i class="fas fa-star color-yellow pr-1"></i>5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-lg-6 col-xl-4">
                            <div class="card mb-5">
                                <img src="/Assets/images/loading.gif" data-src="https://picsum.photos/300/300/?random=25"
                                     alt="圖片說明" class="lazyload">
                                <div class="card-body">
                                    <h5 class="card-title">林小姐</h5>
                                    <p class="card-text">不再網通都有公斤多次進了等等，還沒記錄，網址打擊商標做出實。</p>
                                    <span><i class="fas fa-star color-yellow pr-1"></i>4</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-lg-6 col-xl-4">
                            <div class="card mb-5">
                                <img src="/Assets/images/loading.gif" data-src="https://picsum.photos/300/300/?random=35"
                                     alt="圖片說明" class="lazyload">
                                <div class="card-body">
                                    <h5 class="card-title">白先生</h5>
                                    <p class="card-text">不再網通都有公斤多次進了等等，還沒記錄，網址打擊商標做出實。</p>
                                    <span><i class="fas fa-star color-yellow pr-1"></i>5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section_statistic">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-3">
                <div class="statistic_num">
                    <p>我們為</p>
                    <p class="num" data-value="67231" data-unit="戶">
                    </p>
                </div>
                <div class="statictic_txt">
                    <p>
                        家庭服務
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="statistic_num">
                    <p>我們有</p>
                    <p class="num" data-value="133231" data-unit="筆">
                    </p>
                </div>
                <div class="statictic_txt">
                    <p>評論回饋</p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="statistic_num">
                    <p>我們在</p>
                    <p class="num" data-value="426" data-unit="個">
                    </p>
                </div>
                <div class="statictic_txt">
                    <p>據點座落在全台各地</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section_image">
    <div class="container-fluid">
        <div class="container-xxl">
            <div class="row">
                <div class="image-title">
                    <h2><i class="fas fa-users color-skyblue pl-2 pr-1"></i>專業形象</h2>
                </div>
            </div>
        </div>
        <div class="container-xxl p-0">
            <div class="row">
                @foreach(var card in Model){
                    @Html.Partial("_ImageCardPartial",card)
                }
            </div>
        </div>
    </div>
</section>
<section class="section_news">
    <div class="container-fluid">
        <div class="container-xxl">
            <div class="row">
                <div class="news-title">
                    <h2><i class="fas fa-desktop color-skyblue pl-2 pr-1"></i>媒體報導</h2>
                </div>
            </div>
        </div>
        <div class="container-xxl">
            <div class="row">
                <div class="col-12 col-md-3 p-1">
                    <a href="https://www.independent.co.uk/life-style/kitchen-organise-sustainable-new-year-resolution-a9273931.html" class="text-decoration-none card faded mb-3" style="--delay:.1s;" target="_blank">
                        <div class="news-pic">
                            <img src="/Assets/images/loading.gif" data-src="/Assets/images/n1.jpg"
                                 alt="圖片說明" class="w-100 lazyload">
                        </div>
                        <div class="news-content">
                            <span class="tag">生活</span>
                            <h4>新年將近，五個改善你廚房的方法 </h4>
                        </div>
                        <div class="news-button">
                            <button class="btns">看全文 ></button>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-3 p-1">
                    <a href="https://www.independent.co.uk/property/house-and-home/home-cleaning-illness-flu-cold-household-virus-poll-a9200231.html" class="text-decoration-none card faded mb-3" style="--delay:.2s;" target="_blank">
                        <div class="news-pic">
                            <img src="/Assets/images/loading.gif" data-src="/Assets/images/n2.jpg"
                                 alt="圖片說明" class="w-100 lazyload">
                        </div>
                        <div class="news-content">
                            <span class="tag">居家</span>
                            <h4> 民調顯示，數百國人對不清潔房屋對健康的危害意識相當薄弱</h4>
                        </div>
                        <div class="news-button">
                            <button class="btns">看全文 ></button>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-3 p-1">
                    <a href="https://www.independent.co.uk/property/clean-oven-tips-advice-kitchen-how-a9295381.html" class="text-decoration-none card faded mb-3" style="--delay:.3s;" target="_blank">
                        <div class="news-pic">
                            <img src="/Assets/images/loading.gif" data-src="/Assets/images/n3.jpg"
                                 alt="圖片說明" class="w-100 lazyload">
                        </div>
                        <div class="news-content">
                            <span class="tag">生活</span>
                            <h4>上次清潔烤箱是什麼時候了呢?</h4>
                        </div>
                        <div class="news-button">
                            <button class="btns">看全文 ></button>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-3 p-1">
                    <a href="https://www.independent.co.uk/extras/indybest/house-garden/kitchen-accessories/best-natural-cleaning-products-brands-home-that-work-cheap-disinfect-effective-uk-a9624281.html" class="text-decoration-none card faded mb-3" style="--delay:.4s;" target="_blank">
                        <div class="news-pic">
                            <img src="/Assets/images/loading.gif" data-src="/Assets/images/n4.jpg"
                                 alt="圖片說明" class="w-100 lazyload">
                        </div>
                        <div class="news-content">
                            <span class="tag">清潔用品</span>
                            <h4>10大有效的清潔用品</h4>
                        </div>
                        <div class="news-button">
                            <button class="btns">看全文 ></button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@section JS{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous">
    </script>
    <script src="~/Assets/js/home/index.js"></script>
}